<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Expenses</title>
  </head>
  <body>

    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/transactions/expenses">Expenses</a>
      <a href="/transactions/incomes">Income</a>
      <a href="/tracker">Tracker</a>
    </div>
    
    <h3>Expenses</h3>
    <section id="expenseSection" style="width: 400px; padding: 20px;">
      
      <ul id="expenseList">
        <li>This is</li>
        <li>where</li>
        <li>Expenses will populate</li>
      </ul>
      <div id="status"></div>
    </section>

    
  </body>
</html>
