<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Expenses</title>
  </head>
  <body>

    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/transactions/expenses">Expenses</a>
      <a href="/transactions/incomes">Income</a>
      <a href="/transactions/expenses/tracker">Tracker</a>
    </div>

    <section id="expenseSection">
      <h3>Expenses</h3>
      <ul id="expenseList"></ul>
      <div id="status"></div>
    </section>

    <script src="../public/script.js"></script>
  </body>
</html>
