<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/../public/styles.css" />
    <title>Expenses</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/transactions">Transactions</a> 
      <a class="active" href="/transactions/expenses/tracker">Tracker</a>
    </div>

    <h1>Expense Tracker</h1>

    <div id="instructions">
      <h2 style="padding-bottom: 5px">Tips for best use of this tracker:</h2>
      <ul>
        <li>
          <h3>
            → Know what category you want to put your expenses and incomes into
          </h3>
        </li>
        <li>
          <h3>
            → This will help to group those expenses/incomes - Stay consistent with these categories!
          </h3>
        </li>
        <li>
          <h3>
            → Click <u>"Expense" or "Income" </u> <i>before</i> pressing submit.
            Doing this will keep your expenses <br />
            and incomes in separate places!
          </h3>
        </li>
      </ul>
    </div>
    <main>

      <section>
        <h3 style="text-align: center; margin-bottom: 5px;">Add Transaction</h3>
        <ol style="align-items: center; text-align: center; display: flex; flex-direction: column; justify-content: space-around;">
          <li>Select "Expense" or "Income"</li>
          <li>Enter information into all of the fields</li>
          <li>Hit "Submit"</li>
        </ol>
        <form
          id="transactionForm"
          action="/tracker"
          method="post"
        >
          <div>
            <label for="type">
              <input id="type" type="checkbox" name="type" />
              <div class="option">
                <span id="exp">Expense</span>
                <span id="inc">Income</span>
              </div>
            </label>
          </div>

          <div>
            <label for="name">Name of Expense or Income:</label>
            <input type="text" id="name" name="name" required />
          </div>

          <div>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" />
          </div>

          <div>
            <label for="amount">Amount:</label>
            <input
              id="amount"
              type="number"
              name="amount"
              value="0"
              step="1"
              required
            />
          </div>

          <div>
            <label for="date">Date:</label>
            <input id="date" type="date" name="date" required />
          </div>
          <button type="submit" id="submitBtn">Submit</button>
        </form>
      </section>
    </main>


    <section id="transactions">
      <ul id="transactionList"></ul>
      <div id="status"></div>
    </section>

  </body>
</html>
