<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Transactions</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/transactions">Transactions</a>
      <a href="/tracker">Tracker</a>
    </div>

    <section id="transactions2">
      <h3>Transactions</h3>
      <ul id="transactionList2"></ul>
      <div id="status"></div>
    </section>

    <div><h1><a href="/transactions/expenses">Expenses</a></h1></div>
    <div><h1><a href="/transactions/incomes">Income</a></h1></div>

    <script src="../public/script.js"></script>
  </body>
</html>
